body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/media/movie_background_1.jpg);
  background-size: contain;
}

.nav-wrapper {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 64px - 37.5px);
  padding: 1.5rem 0;
  color: black;

  /* background-image: c; */
}

.page-footer {
  padding: 10px 0 5px 0;
}


.card {
  opacity: 0.8;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
